{{#if Error}}
<div class="login-error">
    {{Error}}
</div>
{{/if}}
{{#if Success}}
<div class="login-success">
    {{Success}}
</div>
{{/if}}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 10px;
            background-color: white;
            margin-left: 15%;
            margin-right: 15%;
        }
        
        .grid-container>div {
            background-color: whitesmoke;
            text-align: center;
            padding: 10px 0;
            font-size: 22px;
        }
        
        .grid-container>div:hover {
            background-color: greenyellow;
        }
        
        .grid-header {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-gap: 10px;
            background-color: transparent;
            padding: 5px;
            margin-left: 15%;
            margin-right: 15%;
        }
        
        .grid-header>div {
            background-color: transparent;
            text-align: center;
            padding: 5px 0;
            font-size: 20px;
        }
    </style>
<div class="sidenav">
    <div class="sidebar text-center">
        <img src="http://www.agu.edu.tr/userfiles//agulogooo.jpg" style="margin-bottom:40px; width: 95%;">
        <h3 class="sidenav-proparties"><strong>{{SideNav.FullName}}</strong></h3>
        <h3 class="sidenav-proparties">{{SideNav.Major}}</h3>
        <h3 class="sidenav-proparties">{{SideNav.ClientCount}}</h3>
        <h3 class="sidenav-proparties">{{SideNav.Rating}}</h3>
    </div>
</div>

<header id="header">
    <div class="topnav">
        <img src="http://www.agu.edu.tr/userfiles/mikrosite_logos/tr_logo.png"
            style="height: 120px; width: auto; margin-left: 4%; margin-top: 20px; margin-bottom: 20px;">
        <div class="topnav-right">
            <div style="height: 160px; width: 100%; display: flex; align-items: center;">
                {{#each NavBar}}
                <a {{#if Class}}class="{{Class}}" {{/if}} href="{{Link}}">{{#if Icon}}<i class="{{Icon}}"
                        aria-hidden="true"></i>{{/if}}{{Text}}</a>
                {{/each}}
            </div>
        </div>

        <div class="divider div-transparent" , style="margin-top: -20px;"></div>
    </div>

</header>

<div class="main">
    <h1 style="text-align: center; margin-top: -45px;">Calendar</h1>
    <div class="divider div-transparent history-dot" , style="margin-top: 20px; margin-bottom: 25px;"></div>

</div>
<div class="grid-header">
    {{#each Days}}
    <div>{{this}}</div>
    {{/each}}
</div>

<div class="grid-container">
    {{#each Calender}}
        {{#each this.days}}
            <div>{{../this.hour}} / {{this.value}}</div>
        {{/each}}
    {{/each}}
</div>

<br/>
<br/>
<div class="rightColumn"></div>